@font-face {
  font-family: "NorseBold";
  src: url(Norse-Bold.otf);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
html {
  margin: 0;
  padding: 0;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  display: flex;
  border-color: black;
  height: 100vh;
  overflow: hidden;
}

.headers,
p,
h2,
button,
label {
  font-family: sans-serif;
}
.img {
  flex: 0 0 30%;
  display: flex;
  position: relative;
}

.odin {
  justify-content: center;
  position: absolute;
  justify-self: center;
  top: 20%;
  height: 16%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.odin h1 {
  color: white;
  font-family: NorseBold;
  position: relative;
  bottom: 20px;
  font-size: 6rem;
}
.odin img {
  width: 20%;
}

.bg {
  text-align: center;
}

.bg p {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgimg {
  height: 100%;
}

.sign-up {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
}

.sign-up > div {
  flex: calc(1 / 3);
}

.sign-up > .headers {
  margin-left: 4rem;
  margin-top: 2rem;
  width: 70%;
}

.forms {
  background-color: white;
  padding: 2rem;
}

.forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forms > h2 {
  padding-left: 2rem;
}

.forms form > div {
  display: flex;
  padding: 2rem;
}

.forms form > div > span {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}
.forms input:focus {
  border: blue;
}
.forms label {
  display: block;
  font-weight: bold;
}

.forms input {
  height: 3rem;
  width: 20rem;
}
.confirms {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 4rem;
}

.confirms > button {
  width: 15rem;
  height: 3rem;
  margin-bottom: 1rem;
  background-color: #596d48;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}

.confirms button:hover {
  border: 2px;
  border-style: solid;
  border-color: white;
}
.confirms > span > p {
  display: inline;
}

input:invalid {
  border-style: solid;
}

input:valid {
  border: none;
}
